image: iisue/alpine-android-fastlane

variables:
  ANDROID_COMPILE_SDK: "28"
  ANDROID_BUILD_TOOLS: "28.0.3"
  ANDROID_SDK_TOOLS:   "4333796"

before_script:
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  - chmod +x ./gradlew
  - gem update --system
  - gem install bundler --force
  - bundle update --bundler

cache:
  key: ${CI_PROJECT_ID}
  paths:
  - .gradle/

stages:
  # - build
  # - test
  # - documentation
  - deploy

# lintDebug:
#   stage: build
#   script:
#     - ./gradlew -Pci --console=plain :app:lintDebug -PbuildDir=lint

# assembleDebug:
#   stage: build
#   script:
#     - ./gradlew assembleDebug
#   artifacts:
#     paths:
#     - app/build/outputs/

# debugTests:
#   stage: test
#   script:
#     - ./gradlew -Pci --console=plain :app:testDebug

# docGen:
#   stage: documentation
#   script:
#     - ./gradlew dokka

deployBeta:
  stage: deploy
  script:
   - fastlane beta