image: printeastwoodcz/gitlab-ci-android-fastlane

before_script:
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  - chmod +x ./gradlew
  - bundle install

cache:
  key: ${CI_PROJECT_ID}
  paths:
    - .gradle/

stages:
  - build
  - test
  - documentation
  - deploy

lintDebug:
  stage: build
  script:
    - ./gradlew -Pci --console=plain :app:lintDebug -PbuildDir=lint

assembleDebug:
  stage: build
  script:
    - ./gradlew assembleDebug
  artifacts:
    paths:
    - app/build/outputs/

generateDocumentation:
  stage: documentation
  script: 
    - ./gradlew dokka

debugTests:
  stage: test
  script:
    - ./gradlew -Pci --console=plain :app:testDebug

uploadToFabric:
  stage: deploy
  script:
    - bundle exec fastlane beta
